[2015-11-20 16:15] kylepjohnson opened #1 "Metadata snippets for Perseus text files"
@christophermorse has converted the XML to JSON. He will get us metadata snippets, from this JSON, for each author's text.

[2015-11-20 16:18] kylepjohnson opened #2 "Dynamically open Perseus text files"
According to the file's particular metadata, eg, Aeneid: book/line; Catullus: poem/line; Tacitus: book/section/subsection.

I'll do this crudely at first, then use what @christophermorse produces out of #1 .

[2015-11-22 04:51] lukehollis opened #3 "Strategies for parsing / ingesting corpora - latin_text_lacus_curtius"

[2015-11-22 04:56] lukehollis opened #4 "Strategies for parsing / ingesting corpora - latin_text_latin_library"
The beginnings of a solution are in https://github.com/cltk/cltk_api/blob/ingest/ingest/learn/latin_library.py, but we've discussed the difficulty of incorporating TLL files here, and it's very likely that the added benefit at this stage is outweighed by the effort of programming attempting to parse/infer useful metadata.

[2015-11-22 16:21] kylepjohnson commented on #1
Latin finished, file at: https://github.com/cltk/latin_text_perseus/blob/master/latin_key.json

[2015-11-22 16:34] kylepjohnson commented on #4
I want both TLL and Lacus Curtius in the API. My perception is that it will be easier to wait on these until we have settled upon a data structure we know will work.

Idea: how about we get through the first milestone of serving the api from texts, and then you also picking it up in the frontend? I say this for two reasons: (1) not to risk reduplicated effort; (2) the texts (especially TLL) are so

[2015-11-22 16:34] kylepjohnson commented on #3
See my comment at #4 .

[2015-11-22 16:46] lukehollis commented on #4
Sounds great to deprioritize these two for right now!

[2015-11-22 16:54] kylepjohnson commented on #4
I appreciate you looking forward. With all these included -- Pers, TLL, and
LC -- the site will be a formidable resource.

On Sunday, November 22, 2015, Luke Hollis notifications@github.com wrote:

[2015-11-22 18:10] lukehollis opened #5 "Strategies for parsing / ingesting corpora - coptic"
Added very basic text parser for the TEI from the coptic_text corpus. Available here: https://github.com/cltk/cltk_api/blob/ingest/ingest/learn/coptic_text.py

[2015-11-27 16:25] m-ramesh opened #7 "Converting TLG texts with TLGU issue"
I have an issue trying to convert the TLG texts with TLGU. I use the code exactly as it is given in the instruction:

In [1]: from cltk.corpus.greek.tlgu import TLGU

In [2]: t = TLGU()

In [3]: t.convert_corpus(corpus='tlg')

I use Python 3.4.3 on Cygwin. When I enter [3], it does not do anything except start a newline waiting for me to enter another command. I checked and there is no file output

[2015-11-27 17:48] kylepjohnson commented on #7
Hi Ramesh, thanks for posting this. A few things.

1) Issues for the core software is at: https://github.com/cltk/cltk/issues. This repo is for a new web api.

2) Our software is not supported on Windows. It is tested on Ubuntu and Mac OS X. If you have Windows, I recommend dual-booting Ubuntu, or using VirtualBox or VMWare.

3) The CLTK does not distribute the PHI or TLG disks. Those you must obt

[2015-11-27 17:48] #7 closed

[2015-11-30 11:57] m-ramesh commented on #7
Hi, I cannot find the path to PHI7. I could find TLG. I assume PHI7 must be in the same folder as TLG.

I am trying to use the CLTK to work on my own corpora. I have succeeded to an extent in importing these into CLTK, but I am still trying to use the tools on them.

Would CLTK work well on Linux?

[2015-11-30 23:59] kylepjohnson commented on #7
Yes, it works great on Linux. I use Ubuntu sometimes. The CLTK is not supported on Microsoft Windows.

If you have correctly imported the PHI7, then you will find it in `~/cltk_data/greek/text/` or `~/cltk_data/latin/text/`, depending on how you imported it.

If you are getting errors, please copy-paste the entirety of the terminal text, both your commands and the errors.

Again, if you need more

[2015-12-22 18:03] lukehollis opened #8 "Determine final angular/blaze breakdown"

[2015-12-22 18:04] lukehollis opened #9 "Port old Segetes materials as are useful to the project to the api module for mining metadata"

[2015-12-22 18:05] #8 closed

[2015-12-22 18:06] #9 closed

[2015-12-22 18:07] #5 closed

[2016-01-04 00:12] kylepjohnson opened #10 "Add SSL to backend API"
I've been seeing a lot about [Let's Encrypt](https://letsencrypt.org/) from the EFF. I think this would be a great way to go.

An easy tutorial I'll probably follow: https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04

[2016-03-03 06:39] lukehollis opened #11 "Continue parsing latin_text_perseus XML files to CLTK JSON data format"
We have begun converting the XML files of the [latin_text_perseus corpus](https://github.com/cltk/latin_text_perseus) to the JSON data format that will be offered to the reading environment by the API.  The files that are already converted are available here: https://github.com/cltk/latin_text_perseus/tree/master/json As we batch process the conversion of the JSON files, they should be added to th

[2016-03-04 21:15] lukehollis commented on #11
Cross reference this comment by @kylepjohnson about the status of development for document conversion and how the texts are served by the API.  https://github.com/cltk/cltk/issues/134#issuecomment-192423187

[2016-03-05 09:29] modassir commented on #11
@lukehollis can you elaborate the format of different types of json to be served by the api?
as far as I understood, there should be **author**, **meta**, **title** and **text** keys in the json.
So the task is to convert all the xml files to the above simple json format?

[2016-03-06 21:34] lukehollis commented on #11
Okay, I've got more info on the JSON data format up in the cltk_api wiki: https://github.com/cltk/cltk_api/wiki/JSON-data-format-specifications  Could move it to the cltk wiki if things get too confusing.

[2016-03-06 21:37] lukehollis commented on #11
@kylepjohnson @modassir reflecting on this, I think the only parameter that we'd be justified in adding to the converted JSON at this stage is a path and filename of the converted file.  For the example of Vergil's Aeneid, something like "Vergil/opensource/verg.a_lat.xml".  I don't want to over-optimize, but I think including this would help us with cache invalidation issues whenever a document is

[2016-03-08 06:37] kylepjohnson commented on #11
@lukehollis Your format on the wiki looks good. Anything you or contribs want/need added to it, I'm open to it. My preference is to have all/most metadata contained in an author's json, instead of an index. When we need to generate indices, we can pull just what we need from author files – thus more DRY.

[2016-03-09 10:22] gree-gorey commented on #11
Hi guys,
my suggestion is to use XSLT transformations for the raw xml files to make them easier to convert.
My [sample XSLT script](https://github.com/gree-gorey/latin_text_perseus/blob/master/xslt/simplify.xsl) allowed to convert [one of raw xml files](https://github.com/gree-gorey/latin_text_perseus/blob/master/xslt/tac.ag_lat.xml) into [pretty xml one](https://github.com/gree-gorey/latin_text_p

[2016-03-09 15:00] kylepjohnson commented on #11
@gree-gorey This is very promising! I'll try to answer your questions:

Yes, we must keep the original structure of the text, which could be chapters + sections, or books + line numbers, etc. If you don't know the structure of a particular ancient work, you can see [what we have done](https://github.com/cltk/latin_text_perseus/tree/master/json) or ask one of us.

No, those aren't important right n

[2016-03-09 16:19] gree-gorey commented on #11
@kylepjohnson

I see.

[Here](https://github.com/cltk/latin_text_perseus/blob/master/Sallust/opensource/catjugfrag-index.xml), for example.

Yeah, maybe I could. I will look at them.
And what about tables? Like [these](http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A2007.01.0032%3Abook%3Dsigla)?

[2016-03-12 16:44] manu-chroma commented on #10
@kylepjohnson I would like to implement this feature. Can you tell me where to start ?

[2016-03-13 05:44] lukehollis opened #12 "Stabilize and catalog all document formats (chapter, book-chapter, book-chapter-section, etc.)"
In order to sync data from the text server to the Meteor application's database, we need to better define the different document formats. What makes a document "chapter" v. "book-chapter", etc.?

It only really matters for the API to understand how many levels of nested content there are.  We can build it to be flexible if each level of nested content above the actual string of text (book, chapter

[2016-03-13 06:07] lukehollis commented on #11
I think dramatis_personae sounds good!  Re: those tables--those are really weird.  Maybe we can just treat them like normal lines of text for the time being?

Having issues accessing content on cltk_frontend due to the range of different document formats in our JSON.  Made a separate issue to address nailing down what those should be: https://github.com/cltk/cltk_api/issues/12

[2016-03-13 06:30] modassir commented on #11
I am currently working on books-chapter, one of the methods I used is:

[code]

This method do provide us with the chapters of the xml files with `<p><milestone n="{num}" unit="chapter">` tags like [caes.bg_lat.json](https://gist.githubusercontent.com/modassir/ad5a92ae9c8b244e4f15/raw/9b0368f34d5b7c205433df66cf2465019f72e63a/caes.bg_lat.json), now working on other type of xml files too with `<div2

[2016-03-13 06:36] kylepjohnson commented on #12
Is this an issue you need my feedback on? If I understand right, you're saying that what really matters is depth of nesting?

[2016-03-13 06:39] kylepjohnson commented on #10
@manu-chroma Have you worked with Flask before? We need it to run with Gunicorn + Nginx, then do these steps.

[2016-03-13 06:44] manu-chroma commented on #10
@kylepjohnson Yes, I do have experience with flask beforehand. Don't have much experience with gunicorn though.

[2016-03-13 06:48] kylepjohnson commented on #10
@manu-chroma If you want this ticket, I will spin up a new server for you with instructions about what we need done. Let me know and I'll assign this to you.

[2016-03-13 06:51] manu-chroma commented on #10
@kylepjohnson I think I can work on this. Please assign and tell me what needs to be done.

[2016-03-13 07:03] kylepjohnson commented on #10
I'll let you know by email once I put up a dev server for you. This will take me a day or two.

[2016-03-13 11:01] modassir commented on #10
@manu-chroma ask me if you are stuck anywhere, as I have already done the same thing with gunicorn, nginx and Let's Encrypt for my dev server.

Reference: [Gunicorn and nginx](https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-14-04)
and the one @kylepjohnson [referred](https://www.digitalocean.com/community/tutorials/how-to-secure-ng

[2016-03-13 13:02] manu-chroma opened #13 "Renaming API name gives error with gunicorn command"
After setting up ```cltk_api``` I was able to run the API through ```python api.py``` command but not through ```gunicorn -w 4 -b 0.0.0.0:5000 api:app``` (Error in the screenshot)
I changed to it's old name ```api_json.py``` and run the command ```gunicorn -w 4 -b 0.0.0.0:5000 api_json:app``` and it worked.
I think the already present ```api/``` folder in the same directory creates conflict when t

[2016-03-13 19:32] modassir commented on #11
For `<div2 type="chapter" n="{num}">`, using this method :
'''
div2s = div1.findall('div2')
if len(div2s) and div2s[0].get('type').lower() == 'chapter':
    for div2 in div2s:
        chapter_number = str(div2.get('n'))
        dict_text[number]['chapters'][chapter_number] = {}
        div2 = etree.tostring(div2).decode()
        div2 = re.sub(r'<p>', '', div2)
        div2 = re.sub(r'</p>', '', d

[2016-03-13 19:33] kylepjohnson commented on #10
Thank you @modassir, we'll move faster working together. Appreciate it. KJ

[2016-03-13 19:33] modassir commented on #11
For `<div2 type="chapter" n="{num}">`, using this method :

[code]

It gives us json similar to above [caes.bc_lat.json](https://gist.githubusercontent.com/modassir/a4844e4dfd17dd3a7e2e/raw/152c0ece975801677712a173691e0b2fd73271e5/caes.bc_lat.json).

[2016-03-13 19:34] kylepjohnson commented on #13
Hi, yes, this was a bug I introduced several commits ago. I will leave it to you to fix :)

[2016-03-13 19:46] kylepjohnson commented on #11
@modassir Looks like you're having success with this. Good work.

One small but important correction: We don't want to label "chapters" like you've done here:

[code]

The nesting of text, as I have designed it, is chunking–neutral. By which I mean all texts are structured in a similar way; their structure is expressed by the "meta" tag (eg, for Ceasar's Bellum Civile, which you have linked to, th

[2016-03-13 19:54] modassir commented on #11
@kylepjohnson ok sure, i will correct that.

[2016-03-13 19:54] sameeriitkgp commented on #13
@manu-chroma Yeah!
I got the same error on my system.
Renaming the api.py file to api_json.py did it.

@kylepjohnson Shall I send the PR?

[2016-03-13 20:34] #13 closed

[2016-03-13 22:50] kylepjohnson opened #15 "Write tests for cltk_api"
With all the new developers, having unit tests is increasingly important.

@modassir, would you be interested in taking this task? Once it is finished, I would like to set up a build server on Travis CI ([as we do for the core software](https://travis-ci.org/cltk/cltk)).

[2016-03-13 22:51] kylepjohnson opened #16 "Add cltk_api to Travis CI build server"
To be done once #15 is at least minimally accomplished.

[2016-03-14 01:23] lukehollis commented on #12
Yes, that's correct--I think we just need to know the depth of nesting for the first round of updates.

We should get somewhat of a list together as we build so the text-sync script knows what to do with them.  So far I see chapter, book-chapter, book-line, and poem-line. Is there anything else?

At some point it would maybe make sense to infer genre from these as well.

[2016-03-14 03:06] kylepjohnson commented on #12
Types of chunking of classical works (off the top of my head): chapter, chapter-section book-chapter, book-chapter-section, book-line, and poem-line, fragment, fragment-line, line (as in plays).

I assume that these will need slightly different fontend templates for displaying their contents. If discerning depth of nesting, a cheap and easy way might be to infer this from the "meta" tag, ie, "frag

[2016-03-14 03:28] ghost commented on #15
I would like to work on this(write tests) if @modassir is not interested!

[2016-03-14 03:57] modassir commented on #15
@kylepjohnson Sure, I will try to implement this.

[2016-03-14 04:27] kylepjohnson commented on #15
@modassir Thank you. Please post back here within a week about how your progress goes.

Here are a few links to get you started, if you haven't done this before:
- http://flask.pocoo.org/docs/0.10/testing/
- http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vii-unit-testing

I'd rather not use an extra library for testing, however if you want make a case for it, I'll consider: https

[2016-03-14 14:57] lukehollis commented on #12
Okay, great--this is super helpful, thanks. I'll add these to the wiki page, and if we run into more ambiguities in the future can reopen this issue.  Seems to be ready to be closed for now.

[2016-03-14 14:57] #12 closed

[2016-03-14 17:22] modassir commented on #11
Do we need to keep the text from `<note>Some Text</note>` ?

[2016-03-14 17:36] kylepjohnson commented on #11
No, we won't want that note text. Thanks

[2016-03-14 18:41] sameeriitkgp commented on #11
I had a different approach to this, using bs4.
I'll try that on the greek perseus.

[2016-03-14 18:44] kylepjohnson opened #17 "Parse greek_text_perseus XML files to CLTK JSON data format"
Following from the Latin job at #11.

[2016-03-14 18:44] kylepjohnson commented on #11
@SameerIITKGP I made ticket #17 for you. Let's all stay in touch with how things go.

[2016-03-17 15:21] kylepjohnson commented on #16
@modassir I'll get this ticket started then pass to you, if you're interested in learning about Travis CI.

[2016-03-17 15:26] modassir commented on #16
Sure, will do it.

[2016-03-17 15:28] kylepjohnson commented on #16
@modassir I have enabled the Tavis CI service for this repo:

https://travis-ci.org/cltk/cltk_api

You'll need to add a .travis.yaml [similar to the CLTK's](https://github.com/cltk/cltk/blob/master/.travis.yml). For this, install cltk, flask, etc with `pip install cltk`. I'll let you figure out the rest.

Should this ticket not interest you, let me know and we can find someone else. Thanks much.

[2016-03-17 22:51] lukehollis opened #20 "Add route for accessing CLTK stemmer"
To get started with adding routes for accessing the CLTK core modules, an easy first step seems to be to add a route which we can send a GET request to with an input string of Latin words and receive a stemmed string of Latin words in response.  I'll take a look at adding this unless anyone else is interested in working on it.

[2016-03-18 04:05] modassir commented on #20
@lukehollis I am interested.

[2016-03-18 07:21] sameeriitkgp commented on #20
I would like to work on this too.

[2016-03-18 22:23] lukehollis commented on #20
Hey @modassir and @SameerIITKGP thanks so much--I just created a new branch that we can work on together at https://github.com/cltk/cltk_api/tree/feature/expose_cltk_core

Since @modassir asked first, maybe we'll let him work on the stemmer (I was imagining including it here: https://github.com/cltk/cltk_api/tree/feature/expose_cltk_core/metadata/stem, but there are a lot of good options).  We'll

[2016-03-18 22:24] lukehollis opened #23 "Add route for accessing CLTK stemmer"
Reference https://github.com/cltk/cltk_api/issues/20 for the original conversation about this.

[2016-03-19 00:05] Imran31 commented on #20
Hi, I would like to work on routes for [NER](http://docs.cltk.org/en/latest/latin.html#named-entity-recognition) and [POS tagging](http://docs.cltk.org/en/latest/latin.html#pos-tagging).

Would it make sense to send my pull requests to `feature/expose_cltk_core`?

[2016-03-19 00:47] lukehollis commented on #20
That sounds great--thanks! I'll open up some new issues for those.

[2016-03-19 01:01] lukehollis opened #24 "Add ability to identify and respond with a list of entities given an input string of a classical text"
For a given input string, we need to identity and respond with a list of entities (perhaps also their positions in the string).

A working function..
* Accepts an input string
* Identifies named entities in the input string
* Associates named entities to some external data sources (maybe wikipedia or VIAF?)
* Returns a list of entities serialized as JSON

We have a little bit of work done here tha

[2016-03-19 01:03] lukehollis opened #25 "Add route for accessing CLTK POS tagger"

[2016-03-19 01:57] lukehollis commented on #24
Okay, I've cleaned up the entities metadata module a little bit more to retrieve data from wikipedia that we can render to the frontend: https://github.com/cltk/cltk_api/blob/feature/expose_cltk_core/metadata/entities/entity.py

There should be separate URIs for retrieving just the information from the core CLTK module and for retrieving more data/metadata from different sources.

[2016-03-19 06:38] manu-chroma commented on #24
@lukehollis I would like to work on this if anyone else is not assigned already.

[2016-03-19 07:45] kylepjohnson opened #26 "Get Perseus definitions"
Cross-referencing Issue https://github.com/cltk/cltk_frontend/issues/60 by @lukehollis.

[2016-03-19 07:51] #16 closed

[2016-03-19 07:54] kylepjohnson commented on #23
As I mentioned on Gitter, I'd like to think about the routing for all NLP in the API. Is this task at all urgent for you, Luke?

[2016-03-19 07:56] kylepjohnson commented on #20
Hey all, I love to see all the excitement to contribute on this. Please do have a go at it. The worst that can happen is that I will want to change the routing in the future, but that might not be for a while. Go for it!

[2016-03-19 08:07] manu-chroma commented on #26
@kylepjohnson I would like to implement the definition endpoint. How to get started on this one ?

[2016-03-19 08:14] manu-chroma commented on #26
I'm assuming the json format to be `{‘word’ : ‘definition’}`
Proposed query URL`https://api.cltk.org/<lang>/<define>?q=<word>`
This is what I had in mind.

[2016-03-19 08:40] sameeriitkgp commented on #23
I would like to work on this.
@lukehollis It would be helpful, if you could provide some more details.

[2016-03-19 08:42] sameeriitkgp commented on #25
I'm interested.

[2016-03-19 10:14] supertramp1995 commented on #26
Hello,
I would like to work on this. Can you please explain in little more detail on how to work on this.
Thanks.

[2016-03-19 10:25] formatkaka commented on #25
Hello,
I'm also interested. Please tell how to work on this.
Thanks.

[2016-03-19 11:39] Imran31 commented on #24
I am working on this (ref https://github.com/cltk/cltk_api/issues/20#issuecomment-198595178).

[2016-03-19 11:40] Imran31 commented on #25
I am working on this (ref https://github.com/cltk/cltk_api/issues/20#issuecomment-198595178).

[2016-03-19 11:49] Imran31 commented on #20
Thanks @lukehollis , could you assign me to the NER and POS issues too?

@kylepjohnson I too think the project may need some restructuring. For example, all the tests are in a single file right now, and the REST resources and helper functions for the CLTK core are placed together in `/metadata`. I think it'll be convenient to have an `api/` folder with a Python file for each resource and the helpe

[2016-03-19 11:57] Imran31 commented on #20
Another way of organizing it would be like `/api/corpus/views.py`, `/api/corpus/models.py` and  `/api/corpus/utils.py` for the views, models and helper functions.

This seems increasingly complex. But it may be simpler to direct future developers and say "Add  helper functions to `utils.py`, add database stuff to `models.py`, ...".

[2016-03-19 12:59] lukehollis commented on #26
Great--looks good. Here is a proposed data format I have been working with for the definitions so far: https://github.com/cltk/cltk_frontend/blob/master/client/views/reading/DefinitionsPanel.jsx#L18

[2016-03-19 13:00] lukehollis commented on #23
Not at all urgent--just coming from the interest in the topic in #20. Will let you follow up here.

[2016-03-19 13:14] manu-chroma commented on #26
Thanks for the link. I'll post a more detailed overview, considering your implementation on the front end.

[2016-03-19 16:21] manu-chroma commented on #26
@lukehollis  Can you please give me the link to definitions in the corpus ? Thanks!

[2016-03-19 22:29] Imran31 commented on #24
Hi @manu-chroma, I no longer have time to work on this since I'll be cleaning up https://github.com/cltk/cltk_api/pull/27 and preparing my proposal.

Please feel free to take this up!

[2016-03-19 22:34] Imran31 opened #28 "REST API Design"
This issue is to brainstorm the design of the API endpoints and responses. I'll start with a couple of points on shorter URLs, HATEOAS and the folder structure.

## Shorter URLs

I propose maintaining numeric IDs for each author, corpus, text, etc. and using those to construct the REST endpoints.

So, for example, endpoint `GET /lang/latin/corpus/perseus/author/tacitus/text/germania` becomes `GET

[2016-03-20 02:45] kylepjohnson commented on #28
@Imran31 Thanks for sharing your thoughts. Here are a few initial responses:

The API is intentionally explicit. I prefer this because it the URL is instantly recognizable. "Author 6, text 8" means nothing, but "Tacitus, Germania" is universally recognizable.

There is something to be said for keeping URLs short, but we are very, very far from what I would consider long.

We have this already, tho

[2016-03-20 03:19] kylepjohnson commented on #20
Before talking folder/code structure, it would be helpful for me you'd start with URI design, then we work backwards. Some of CLTK core's code is nuanced, so you'll need to know some about it before proposing the API's code.

[2016-03-20 03:20] kylepjohnson commented on #25
@supertramp1995 Thank you for volunteering. Please write to @lukehollis about another task!

[2016-03-20 13:56] Imran31 commented on #28
Yeah IDs will not be more helpful then, I thought that the growing URL length is a problem. I too think the existing URLs are much easier to recognise.

Sure! Does it make sense to list out all the `/core/*` endpoints and how they will respond to different HTTP methods?

I'll start with a list of endpoints and their associated classes:
- `/core/jvreplacer`: JVReplacer
- `/core/stem`: Stemmer
- `/c

[2016-03-20 16:14] modassir commented on #20
@kylepjohnson sure, I think one the method is to list down all the CLTK core's methods which needs to be implemented by the API. Then we can use any of the url scheme which suits us and gives proper meaning.
https://github.com/cltk/cltk_api/issues/28#issuecomment-198932765  is a good approach.

[2016-03-20 16:53] lukehollis commented on #28
I think this (https://github.com/cltk/cltk_api/issues/28#issuecomment-198932765) looks good for the first iteration of the project and can revise them in the future as it makes sense for the more complex tasks.

[2016-03-20 16:59] lukehollis commented on #26
We will need to look these up programmatically based on an input string.  I'm indifferent on whether that input string should be a single word or a sentence/line of poetry.

[2016-03-20 17:01] lukehollis commented on #26
Here's an example query for the first word of the Aeneid: http://www.perseus.tufts.edu/hopper/morph?l=Arma&la=la

[2016-03-20 17:03] lukehollis commented on #23
Sorry, looks like this is a part of https://github.com/cltk/cltk_api/issues/28 and will assign to @Imran31

[2016-03-20 19:58] #20 closed

[2016-03-21 05:51] kylepjohnson commented on #28
@lukehollis If you're comfortable with this API, then let's go for it. Just so long as everyone knows that the specifics will be subject to a revision sometime.

Thanks to all on this.

[2016-03-21 12:36] manu-chroma commented on #26
@lukehollis  @kylepjohnson  If I am not wrong, whenever a user queries for a definition, we want to extract data from the following source: http://www.perseus.tufts.edu/hopper/morph?l=Arma&la=la
1. I am not able to find a exposed API for search results on the given website, thus we might have to scrape which is not bad as it has bare minimum html code.
   There is a XML option which has incomplete

[2016-03-22 14:49] lukehollis commented on #26
That's a good question, @manu-chroma--and thanks for tracking down the xmlmorph version.  I can see both sides and don't have a very strong opinion one way or the other, but I think that since this is specifically an issue dealing with hitting an external web API, it should exist in the cltk_api instead of core.  @kylepjohnson will have a better sense of the direction for the core package though.

[2016-03-22 15:10] manu-chroma commented on #26
@lukehollis I get your point. By the way, the xmlmorph version looks incomplete to me. It doesn't contain the definition. I think scraping is the way to go. What do you think ?

[2016-03-22 15:14] kylepjohnson commented on #26
Hey guys, An alternative to using the Perseus API would be to use the same lexicon they're using.

Somehow accidentally deleted the relevant files for Latin (needs to be re-added to [cltk/latin_lexica_perseus](https://github.com/cltk/latin_lexica_perseus)), here's Greek:
- Repo: https://github.com/cltk/greek_lexica_perseus
- Map of headword-inflected word: https://raw.githubusercontent.com/cltk/gr

[2016-03-22 15:19] kylepjohnson opened #30 "Re-add Perseus lemma and dictionary files"
At some point in the past, I removed the `lemmata` and `analyses` files from [cltk/latin_lexica_perseus](https://github.com/cltk/latin_lexica_perseus). They need to be re-added. See [greek_lexica_perseus](https://github.com/cltk/greek_lexica_perseus) for examples.

If any of the files are above GitHub's recommendation of 50MB, then you'll need to split them and call each `_1` ,`_2`, etc.

[2016-03-22 15:21] kylepjohnson commented on #26
Referencing Issue #30. @manu-chroma would you like to do this? It's related and I bet will answer your question about whether to use the API or parse the files ourselves.

[2016-03-22 15:23] manu-chroma commented on #30
@kylepjohnson I'll do it. :+1:

[2016-03-22 16:29] lukehollis commented on #26
Not that I know of, and if we can use our own servers it seems like it'd be nicer to their systems not to be hitting their API all the time (not sure of the usage restraints there).  Working from the cltk lexica repos here seems like a better solution if possible. All for it. :+1:

[2016-03-22 21:40] manu-chroma commented on #24
@lukehollis @kylepjohnson  I believe that if we have a string as a parameter, a google search would reveal much more relevant results. We can either scrape the wikipedia link from the results page (if any), or add a list of trusted/useful websites and if any of them come up in the results we scrape the sites or just their URL.
Accordingly, we can serve the JSON output as URL of the relevant websit

[2016-03-22 21:45] lukehollis commented on #24
I was thinking about this python module: https://pypi.python.org/pypi/wikipedia

Something like this: https://github.com/cltk/cltk_api/blob/feature/expose_cltk_core/metadata/entities/wikipedia.py#L18

I think mining search engine results or other sources sounds great as well, but I believe that wikipedia will be an important organization to link to and align with given our project's mission. VIAF

[2016-03-22 21:51] kylepjohnson commented on #24
Hey guys, I like the way things are developing.

A few things:
- Querying Google's search engine is a creative, but terrible, idea :open_mouth: This could have a bad cascading effect for the project.
- Wikipedia is obviously a great start and if this library makes life easier for you, then by all means add it to the api's dependencies
- Question: @lukehollis, would you give a few examples of what

[2016-03-22 21:56] manu-chroma commented on #24
For example:
If a user enter query as  "Aeneas", we can easily create a wiki url, and scrape data form the page and return relevant data. (As mentioned in https://github.com/cltk/cltk_api/blob/feature/expose_cltk_core/metadata/entities/wikipedia.py#L8)
But if another user looking for the same data queries a string "Trojan hero Aeneas" or "Aeneas greek" or "Aeneas roman", I think the program will r

[2016-03-22 22:03] lukehollis commented on #24
I think in the initial stages we have to balance rendering incorrect results with manual review of the entities that are ingested. To my mind, the benefits outweigh the offsets with this, but I can be talked down from linking wikipedia data.

The advantages to the end user are what I'm thinking about. Mostly I think that best advantage would be this user story:

As a reader of an ancient text, I w

[2016-03-22 22:12] manu-chroma commented on #24
I think wikipedia is great idea. The json format mentioned is https://github.com/cltk/cltk_api/blob/feature/expose_cltk_core/metadata/entities/wikipedia.py#L8 pretty decent.

But to obtain the correct wikipedia link is the problem. Parsing the string to obtain the actual meaningful query info is the real challenge here. I mentioned google because even though how mixed up our query is, google would

[2016-03-22 22:21] lukehollis commented on #24
I think @ferthalangur has the best perspective here. To my mind, the simplest first iteration of this should offer the first wikipedia result that can be manually revisited by a content administrator on the frontend when necessary.

If we want to leave VIAF/Pleiades, etc. here, let's delete their high-level stubs as soon as possible.

[2016-03-22 22:25] manu-chroma commented on #24
@lukehollis What high-level stubs are you referring to ?

[2016-03-22 23:30] ferthalangur commented on #24
I think what @manu-chroma is describing is a problem of context. If your term is something like "Asp", you could get a link to a fish, a snake, an orchid, a lake in Minnesota, a pistol, or a German Goth band ... just to name a few examples. To be useful, it is necessary to link an entity to a disambiguated Wikipedia entry. If you had a few more words around the term, you _might_ have enough contex

[2016-03-24 15:33] manu-chroma commented on #24
@lukehollis I've made minor changes in  to make remove any incomplete output. PR https://github.com/cltk/cltk_api/pull/31
Wikipedia package is a little buggy but pretty convenient. I'll look ways to optimize results using that. Tried the suggest feature. Not very helpful.
I was thinking of exposing the existing wikipedia summary data functionality through entities route.

[code]

What do you say ?

[2016-03-24 21:25] Imran31 commented on #28
Thanks @lukehollis, I have extended this discussion into my proposal (I just shared it with the organisation via the GSoC website). I look forward to your comments there.

[2016-03-29 18:33] kylepjohnson opened #32 "Write Vagrant bootstrap.sh for CLTK and CLTK API"
Building upon  Manvendra's script to automate Nginx: https://gist.github.com/manu-chroma/4a6f3b6b27aa49683c67b9fb0b23d493

Let's add the basic setup, too:
* Make user `cltk` with sudo privileges
* Create a Python 3.5 virtualenv `venv` in cltk's home dir
* Install cltk and, with the cltk, import the Perseus corpora (https://github.com/cltk/latin_text_perseus ;  https://github.com/cltk/greek_text_pe

[2016-03-29 18:40] manu-chroma commented on #32
@kylepjohnson Do you want a vagrant setup script specifically or a general bash script ?

[2016-03-29 18:54] kylepjohnson commented on #32
Vagrant uses plain Bash scripts anyway, so what you do will work with and without Vagrant. Though I recommend using Vagrant from the start. Also we'll want this to be accompanied with a Vagrantfile in the file version.

[2016-03-29 18:56] manu-chroma commented on #32
Got it! :+1:

[2016-04-01 15:42] kylepjohnson opened #33 "Add "source" field to JSON"
To our ingested JSON documents, add "source" and "license" to the text output.

[2016-04-02 17:21] manu-chroma commented on #32
@kylepjohnson I've divided the `bootstrap script` into multiple small scripts, each of which would serve the features you've mentioned in the issue.
I was wondering where should I put all these scripts and the vagrantfile ?
Should I create a new repo for vagrant and associated bootstrap scripts ?

P.S I'm still working on them. Not completed yet.

[2016-04-03 18:59] kylepjohnson commented on #24
Hey guys, I fell away from this repo for a little bit. @lukehollis do you want to follow up on this, since you have a better grasp of the the frontend's needs?

[2016-04-03 21:24] lukehollis commented on #24
Hey @manu-chroma and @kylepjohnson, yes, that sounds good. Thanks for your patience!

I also found the suggest feature to be pretty lacking for our needs. I think what you've done with the define endpoint looks good, @manu-chroma. For the needs of the frontend, we just need something functional instead of perfect.  I imagine that the frontend will save data from your work here, @manu-chroma, for e

[2016-04-04 15:24] manu-chroma commented on #24
@lukehollis I really like your idea of using CLTK NER and thus having a good list of words which people might actually search for. And already put them in the front end database.

I was thinking of another way of integrating CLTK NER. To identify keywords before sending them as a query to the wikipedia module ? Maybe that will help in increasing accuracy of the search. What do you think ?

Also, I

[2016-04-10 14:20] ferthalangur commented on #32
Does the **cltk** user _need_ sudo privilege in order to function as the application's home / run directory?

[2016-04-10 14:49] ferthalangur commented on #32
My recommendation (for discussion): create a new repository called cltk_server_builds (or something similar if you have a naming schema) where everything needed to build a specific type of server will be aggregated into a folder by the name of the type of server/service first, then the method of building (e.g., docker, vagrant, ...) and then the third level the actual stuff for the build. If there

[2016-04-10 17:14] manu-chroma commented on #32
@ferthalangur `sudo` will be required in some places. For example, to install necessary packages from apt-get such as `nginx`
Apart from that, to create a config file for nginx, we'll need to have sudo privilages. The file is present in `/etc/nginx/` directory.
It is assumed that the complete server setup will be done by the cltk user through series of bash scripts.

I really like the idea of havi

[2016-04-15 04:56] kylepjohnson commented on #32
Hi Guys, I'm obviously still catching up.

@manu-chroma Here's a repo for Vagrant: https://github.com/cltk/cltk_vagrant. Do whatever you want with it!

As for the sudo issues, how about we make two users? One with sudo for installation and another (say, `cltk`) just for running code (core, api, and frontend). Thus we'd have runtime security. @ferthalangur would that work?

[2016-04-15 10:36] ferthalangur commented on #32
@kylepjohnson @manu-chroma  ... Yes, that would work very well. On the production machines that we set up, we usually have a user called **administrator** that has sudo powers for installation, modifications, monitoring, etc. That would be the account vagrant uses to build the applications and create the **cltk** user.

[2016-04-15 14:53] kylepjohnson commented on #32
Thanks, Rob! Let's plan on using an admin and cltk users as above.

[2016-04-15 15:09] manu-chroma commented on #32
@kylepjohnson @ferthalangur
I'll modify the scripts accordingly! :smile:

[2016-05-21 23:52] lukehollis commented on #24
Apologies for the delay! I think increasing the accuracy of the search via identifying keywords (maybe some amount of regularization for lemmatization of names..?) would be really awesome. That would be groundbreaking for us as we try to pull this data into the frontend.

[2016-05-25 11:18] lukehollis commented on #26
Hey @manu-chroma, any updates here?  Would it be possible to push any progress that you've made?

[2016-05-25 17:45] manu-chroma commented on #26
Hey @lukehollis, I've mailed you regarding the same. Please check.

[2016-05-25 20:19] lukehollis commented on #26
Thanks so much, @manu-chroma--and good luck with the switch!

[2016-06-16 16:18] manu-chroma commented on #24
@lukehollis Can you suggest any modules I can try for the same ?

[2016-06-22 18:51] lukehollis opened #39 "Version API resources"

[2016-06-27 14:43] lukehollis commented on #24
I think just using the CLTK core is where I would start by identifying entities and then we can test the results and refine on the frontend.  It appears for the API we only need to expose the CLTK NER functionality with something like

[code]

[2016-07-20 22:02] manu-chroma commented on #24
@lukehollis I've posted some implementation details on gitter channel of this repo. Could you follow up on that?

[2016-08-09 07:33] souravsingh commented on #30
@manu-chroma Are you still working on this?

[2016-08-09 07:40] manu-chroma commented on #30
@souravsingh No, you can choose work on it, if interested!

@kylepjohnson

[2016-08-09 16:34] kylepjohnson commented on #30
@souravsingh Assigning to @souravsingh (and thanks @manu-chroma )

[2016-08-22 02:16] lukehollis opened #42 "Expose Prosody core modules via the API"
Return prosody data from the scanners in the CLTK core: https://github.com/cltk/cltk/tree/master/cltk/prosody

[2017-03-19 20:24] lukehollis commented on #33
@kylepjohnson how do the source and sourceLink look in the updated JSON data format specs? https://github.com/cltk/cltk_api/wiki/JSON-data-format-specifications

[2017-03-19 20:39] lukehollis opened #43 "Add converter.py and converted cltk_json to all CTLK corpora _text_ repos"
All CLTK corpora text repos need a converter.py and the subsequent converted cltk_json dir with json files that are produced by converter.py.

One example of a converter.py is here: https://github.com/cltk/chinese_text_cbeta_01/blob/master/converter.py

A simple search on the cltk github page will yield all CLTK text corpora: https://github.com/cltk?utf8=%E2%9C%93&q=text&type=&language=

Here is a

[2017-03-21 17:45] kylepjohnson commented on #33
I like it fine : )

[2017-03-21 18:41] lukehollis commented on #33
Deal :) the documents in the cltk_json dirs for the text corpora so far have source and sourceLink--wished I'd remembered the License field also earlier. Closing this issue for now unless you'd like an additional License field as well.

[2017-03-21 18:41] #33 closed

[2017-03-30 13:20] kashyap32 opened #44 "route for accessing NER"

[2017-03-30 13:58] kylepjohnson commented on #44
@kashyap32 Unless you are beginning work on this, I will close since there are many such "add X"-type tickets that could be opened.

[2017-03-30 13:58] #44 closed

[2017-06-30 18:13] greenat92 commented on #43
- [ ] [arabic_text_perseus](https://github.com/cltk/arabic_text_perseus).
- [ ] [arabic_text_quranic_corpus](https://github.com/cltk/arabic_text_quranic_corpus).
- [ ] [arabic_morphology_quranic-corpus](https://github.com/cltk/arabic_morphology_quranic-corpus).